
.home__container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home__legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  color: #ffffff;
}
.home__typed {
  color: #ffffff;
}
