.home {
  background-image: url("./bg1.svg");
  height: 100vh;

}
.home__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home__legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  color: #002227;
}
.home__typed {
  color: #ffffff;
}
